# Telegram
TELEGRAM_BOT_TOKEN=

# YNAB
YNAB_ACCESS_TOKEN=
YNAB_BUDGET_ID=
YNAB_ACCOUNT_ID=

# Redis
REDIS_URL=

# OpenAI
OPENAI_API_KEY=

# Langchain
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_API_KEY=
LANGCHAIN_PROJECT=
LANGCHAIN_CALLBACKS_BACKGROUND=true

# Image Processing
IMAGE_DOWNLOADS_DIRPATH=downloads/
